body{
	margin: 0;
	padding: 0;
	background-color: #484848;
	font-size: 14px;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.logo{
	width: 100px;
	height: 50px;
	background-image: url('../images/logo.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	float: left;
	margin-left: 20px;
}
.container{
	max-width: 1000px;
	margin: 30px auto;
}
